<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.DownloadMapper">
	<resultMap id="BaseResultMap" type="com.cloud.model.Download">
		<id column="downloadId" property="downloadid" jdbcType="INTEGER" />
		<result column="userId" property="userid" jdbcType="INTEGER" />
		<result column="resourceId" property="resourceid" jdbcType="INTEGER" />
		<result column="downloadTime" property="downloadtime" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		downloadId, userId, resourceId, downloadTime
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from download
		where downloadId = #{downloadid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from download
		where downloadId = #{downloadid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.cloud.model.Download">
		insert into download (downloadId, userId, resourceId,
		downloadTime)
		values (#{downloadid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
		#{resourceid,jdbcType=INTEGER},
		#{downloadtime,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.cloud.model.Download">
		insert into download
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="downloadid != null">
				downloadId,
			</if>
			<if test="userid != null">
				userId,
			</if>
			<if test="resourceid != null">
				resourceId,
			</if>
			<if test="downloadtime != null">
				downloadTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="downloadid != null">
				#{downloadid,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="resourceid != null">
				#{resourceid,jdbcType=INTEGER},
			</if>
			<if test="downloadtime != null">
				#{downloadtime,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.cloud.model.Download">
		update download
		<set>
			<if test="userid != null">
				userId = #{userid,jdbcType=INTEGER},
			</if>
			<if test="resourceid != null">
				resourceId = #{resourceid,jdbcType=INTEGER},
			</if>
			<if test="downloadtime != null">
				downloadTime = #{downloadtime,jdbcType=VARCHAR},
			</if>
		</set>
		where downloadId = #{downloadid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.cloud.model.Download">
		update download
		set userId = #{userid,jdbcType=INTEGER},
		resourceId = #{resourceid,jdbcType=INTEGER},
		downloadTime = #{downloadtime,jdbcType=VARCHAR}
		where downloadId = #{downloadid,jdbcType=INTEGER}
	</update>
</mapper>